
#header {
  grid-area: header;
  padding-left: 50px;
}

#nav-bar {
  grid-area: nav-bar;
}

#content-1 {
  grid-area: content-1;
  padding-left: 30px;
}

#grid {
  display: grid;
  grid-template-areas: 
  'header nav-bar'
  'content-1 content-1';
  grid-template-columns: 30% 70%;
  grid-template-rows: 15% 85%;
}

.leaflet-container{
  width: 70vw;
  height: 75vh;
}

#mapbox-div {

  display: flex;
  justify-content: center;
  }
  
.logo {
  width: 200px;
  padding-left: 25%;

}



