.background-img {
    background-image: url(/public/img/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#header {
  grid-area: header;
}

#nav-bar {
  grid-area: nav-bar;
}

#content-1 {
  grid-area: content-1;
}

#footer {
  grid-area: footer;
}

#grid {
  display: grid;
  grid-template-areas: 
  'header nav-bar .'
  'content-1 content-1 .'
  'footer footer .';
  grid-template-columns: 3fr 7fr 3fr;
  grid-template-rows: 1.5fr 8fr ;
}

.leaflet-container{
  width: 70vw;
  height: 75vh;

}

#mapbox-div {
/* padding-left: 250px; */
/* margin: auto; */
display: flex;
justify-content: center;
}

/* #mapbox-div {
  width: 50%;
  height: 50%
} */