html {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0deg, rgba(249, 222, 166, 1) 15%, rgba(255, 255, 255, 0) 80%);
  background-color: rgb(199, 218, 218);
  background-repeat: repeat-y;
  background-size: 100%;
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
