

.map-page {
    background: linear-gradient(0deg, rgba(249, 222, 166, 1) 15%, rgba(255, 255, 255, 0) 80%);
    /* background-color: rgb(249, 222, 166); */
    /* background-color: rgb(226, 190, 187); */
    background-color: rgb(199, 218, 218);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Mochiy Pop P One', sans-serif;;
}

/* #content1 {
    padding-left: 30px;
} */