.complete-img {
    height: 200px;
    width: 200px;
    margin-left: 50px;
    margin-top: 50px;
}

.both-pics {
    display: flex;
}

.wonder-detail {
    background-color: aquamarine;
    width: 80%;
    margin: auto;
}